/*------------------------------------------------------- TÍTULO -------------------------------------------------------*/
.conteudo {
  background-color: #44b9b7;
  position: sticky;
}

.titulos {
  padding-top: 11rem;
}

.titulo1_esquerda {
  font-size: 62px;
  margin: 0;
  padding-left: 0.5rem;
}

.peso {
  font-size: 62px;
  font-weight: 400;
}
/*------------------------------------------------------ PRODUTO1 ------------------------------------------------------*/
.produto1 {
  margin-top: 6%;
}

.produto1_titulo2esquerda {
  padding-left: 5.7rem !important;
  padding-bottom: 1rem;
}

.subitulo_produto1 {
  padding-left: 5.7rem !important;
}

.row_prod1 {
  position: absolute;
}

.ul-prod1 {
  top: 50%;
  position: absolute;
}

.col-sm-5 {
  max-width: 38.666667% !important;
}

.imagem_negocios {
  z-index: 1;
  position: relative;
  padding: 0;
  margin-top: -15%;
  margin-left: 70%;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: static;
}

@keyframes slidein {
  from {
    margin-left: 80%;
    width: 300%;
  }

  to {
    margin-left: 70%;
    width: 100%;
  }
}

h2 {
  line-height: 0.9;
}
/*------------------------------------------------------ PRODUTO2 ------------------------------------------------------*/
.produto2 {
  padding-top: 5rem;
}

.linhaverde {
  background-color: #00cdc2 !important;
}

.verde {
  background-color: #00908c !important;
  color: #ffffff;
}

.justify-content-center {
  padding-left: 5.3rem;
}

.produto2_titulo {
  left: 18%;
}

.subtitulo {
  left: 24%;
  padding-left: 5rem;
}

.js .anim-liquidacao {
  opacity: 0;
}

.js .anim-liquidacao-init {
  opacity: 1;
  animation-name: slideinliq;
}

.imagem_bass {
  position: absolute;
  z-index: 1;
  left: 7%;
  padding-top: 3rem;
  height: -webkit-fill-available;
  height: 18%;
  animation-duration: 3s;
  animation-iteration-count: static;
}

@keyframes slideinliq {
  from {
    left: -2%;
    width: 100%;
  }

  to {
    left: 7%;
    width: 100%;
  }
}
/*------------------------------------------------------ PRODUTO3 ------------------------------------------------------*/
.produto3 {
  padding-top: 5rem;
}

.produto3_uldesktop {
  margin-top: 5%;
}

.row_prod3 {
  position: absolute;
}

.js .anim-somos_tec {
  opacity: 0;
}

.js .anim-somos_tec-init {
  opacity: 1;
  -webkit-animation-duration: 6s;
  -webkit-animation-name: slideinsomos_tec;
  -webkit-animation-delay: 0s;
}

.imagem_sss {
  z-index: 1;
  position: relative;
  left: 4%;
  padding: 0;
  animation-duration: 3s;
  animation-iteration-count: static;
}

@keyframes slideinsomos_tec {
  from {
    left: 20%;
    width: 300%;
  }

  to {
    left: 4%;
    width: 100%;
  }
}
/*------------------------------------------------------ GLOBAL ------------------------------------------------------*/
.produto_geral {
  height: 100%;
  background-color: #dadada;
  border-radius: 0px 0px 0px 60px;
  width: 65vw;
  margin-left: 5%;
}

.produto_linhabranca {
  background-color: #ffffff;
  width: 65vw;
  margin-left: 5%;
  margin-top: 3%;
  color: #ffffff;
  min-height: 2vw;
}

.produtos_dimensoes {
  height: 420px;
}

.produtos_titulo {
  padding-top: 2rem;
}

.titulo2_esquerda {
  font-size: 40px;
  color: #00908c;
  line-height: 1;
  padding-left: 5rem;
  padding-bottom: 1rem;
}

.produtos_subtitulo {
  padding-left: 6rem;
  font-size: 16px;
}

ul {
  margin: 0;
  padding-left: 6rem;
}

ul li {
  line-height: 2rem !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

ul li span {
  color: #000000;
}
/*------------------------------------------------------ FAÇA PARTE ------------------------------------------------------*/
.facaparte {
  padding-top: 6.5rem;
}

.facaparte_texto {
  font-size: 44px;
  padding-left: 3rem;
  font-family: Gilroy;
  font-weight: 100;
  margin: 0;
}

.facaparte_texto2 {
  margin-top: -2%;
  font-size: 60px;
  padding-left: 3rem;
  font-family: Gilroy;
}

label input {
  border-radius: 0px !important;
  max-width: 93.5%;
}

.form-control {
  height: 9vh;
  width: 41vw;
}

.botoes-acessos {
  padding-bottom: 6rem;
}

.btn-docs {
  background-color: #006566;
  right: 5%;
}
/*-------------------------------------------------------- MOBILE --------------------------------------------------------*/

@media only screen and (max-width: 768px) {
  .titulo1_esquerda {
    font-size: 44px !important ;
    margin: 0;
    padding-top: 0rem;
  }

  .facaparte {
    margin-top: 40%;
  }

  .titulo2_esquerda {
    font-size: 30px !important;
    color: #00908c;
    line-height: 0.9;
    padding-left: 3rem !important;
    padding-top: 2rem;
  }

  .produtos_titulo {
    padding: 0;
  }

  .produto_linhabranca {
    background-color: #ffffff;
    width: 100vw !important;
    height: 3vh;
    margin-top: 15%;
    color: #ffffff;
    padding: 0;
    margin-left: -4%;
  }

  .produto_linhabranca_liq {
    margin-left: 0%;
  }

  .produto_geral {
    background-color: #dadada;
    border-radius: 0px 0px 0px 60px;
    width: 100vw;
    height: 120%;
    margin-left: -4%;
  }

  .produto_geral3 {
    background-color: #dadada;
    border-radius: 0px 0px 0px 60px;
    width: 105vw;
  }

  .imagem_negocios {
    position: absolute;
    z-index: 1;
    padding: 0;
    width: 50vw;
    height: 25vh;
    left: 67%;
    right: 5%;
  }

  ul {
    padding-left: 4rem;
  }

  .produto2 {
    padding-top: 10rem;
  }

  .produto2_ul {
    padding-top: 3rem;
    padding-left: 0;
  }

  .produto3_ul {
    padding-left: 4.5rem;
  }

  .imagem_bass {
    position: absolute;
    z-index: 1;
    left: 30%;
    padding-top: 3rem;
    height: 10%;
    width: auto;
    margin-top: 5rem;
  }

  .imagem_sss {
    margin-top: 55%;
  }

  .produto3 {
    padding-top: 10rem;
  }

  .facaparte_texto {
    left: 8%;
  }

  .facaparte_texto2 {
    left: 6%;
  }

  label input {
    border-radius: 0px !important;
    max-width: 100%;
    margin: 0;
  }

  .form-control {
    height: 100%;
    width: 90%;
    margin: 0%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .hide-m {
    display: none;
  }

  .hide-d {
    display: block;
  }

  .botoes-acessos {
    padding-right: 2rem;
  }
}
